/* Add CSS Styling */
.odd-numbered {
    background-color:rgb(241, 126, 145);
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color:blue;
    font-size: 36px;
}

.third {
    font-size:24px;
}

#fourth {
    background-color: rgb(3, 236, 3);
    font-size:24px;
    font-weight: bold;
}